[Unit]
Description=Sistema pasta e riso para biscoitos

[Service]
User=biscoitos
ExecStart=/usr/bin/java -jar /home/biscoitos/spastaeriso.jar
ExitStatus=143

[Install]
WantedBy=multi-user.target
