version: '3.9'

volumes:
  postgres_data:
      driver: local

services:
  db:
      image: postgres
      volumes:
        - ./db/data:/var/lib/postgresql/data
        - ./db/init:/docker-entrypoint-initdb.d/
      environment:
        POSTGRES_DB: spastaeriso
        POSTGRES_USER: spastaeriso
        POSTGRES_PASSWORD: spastaeriso-pw
  auth:
      image: quay.io/keycloak/keycloak:latest
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: db
        DB_DATABASE: spastaeriso
        DB_USER: spastaeriso
        DB_SCHEMA: public
        DB_PASSWORD: spastaeriso-pw
        KEYCLOAK_USER: spastaeriso-kc
        KEYCLOAK_PASSWORD: spastaeriso-pw
        KEYCLOAK_IMPORT:  /tmp/auth/keycloak-spastaeriso-realm.json
        KEYCLOAK_FRONTEND_URL: http://auth:8080/auth
        # Uncomment the line below if you want to specify JDBC parameters. The parameter below is just an example, and it shouldn't be used in production without knowledge. It is highly recommended that you read the PostgreSQL JDBC driver documentation in order to use it.
        #JDBC_PARAMS: "ssl=true"
      ports:
        - 8080:8080
      volumes:
        - ./auth/:/tmp/auth
      depends_on:
        - db
  api:
    image: 'docker-spring-boot-postgres:latest'
    build:
      context: ./api/
    container_name: api
    ports:
      - 8090:8090
    depends_on:
      - db
      - auth
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/spastaeriso
      - SPRING_DATASOURCE_USERNAME=spastaeriso
      - SPRING_DATASOURCE_PASSWORD=spastaeriso-pw
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
  app:
    container_name: app
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - 80:80
    depends_on:
      - api
      - auth
